body {
    margin: 0;
    padding: 0;
    background-color: #F9F6EB;
}

nav {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-right: 120px;
}

.nav-link {
    color: #623f13;
    text-decoration: none;
    margin: 0 15px;
    font-size: 21px;
    font-family: 'Lalezar', sans-serif;
    margin-left: 25px;   
}

.title {
    font-size: 25px;
    color: #423E0E;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
}