body {
    font-family: 'Inter', sans-serif;
    background-color: #0A0A0A;
    
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
    
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-gray);
    border-radius: 10px;
}

:root {
  --color-light-gray: #CBD2DE;
  --color-dark-gray: #1E1E1E;
  --color-blue-gray: #3E4C59;
  --color-medium-gray: #989898;
  --color-gray-b1: #B1B1B1;
  --color-gray-86: #868686;
  --color-dark-blue-gray: #282828;
  --color-gray-5c: #5C5C5C;
  --color-gray-cd: #CDCDCD;
  --color-black-0a: #0A0A0A;
  --color-black-0d: #0D0D0D;
  --backg-color: #1e1e1e13;

  /* Gradients */
  --gradient-radial-1: radial-gradient(circle, #CBD2DE 0%, #1E1E1E 100%);
  --gradient-radial-2: radial-gradient(circle, #3e4c59 50%, #ffffff00 0%);
  --gradient-linear: linear-gradient(90deg, #3E4C59 0%, #CBD2DE 100%);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

/* ===== الشعار ===== */
.logo h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-light-gray);
  letter-spacing: 2px;
  font-family: patua one, sans-serif;
}

.logo h1::first-letter {
  color: var(--color-blue-gray);
}

.logo span {
  letter-spacing: normal;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-light-gray);
  margin-left: 5px;
}

/* ===== روابط النافبار ===== */
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0 120px;
  padding: 6px 35px;
  background-color: var(--color-black-0d);
  border: 1px solid var(--color-dark-gray);
  border-radius: 10px;
}

.nav-links a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--color-light-gray);
  font-size: 14px;
  font-weight: 300;
  transition: 0.5s ease;
  position: relative;
}

.nav-links a:hover {
  color: var(--color-blue-gray);
}

/* ===== زر التواصل ===== */
.contact-btn .btn {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  padding: 6.5px 16px;
  color: var(--color-light-gray);
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s ease;
  background-color: var(--color-black-0d);
  border: 1px solid var(--color-dark-gray);
  border-radius: 10px;
}

.contact-btn .btn i {
  margin-left: 5px;
  font-size: 12.5px;
}

.contact-btn .btn:hover {
  color: var(--color-gray-86);
}