body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Home{
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}

.Navbar ul{
    list-style: none;
    padding-left: 70px;
}

.Navbar li{
    display: inline;
    margin: 0 15px;
}

.Navbar a{
    text-decoration: none;
    color: #557EB2;
    font-size: 20px;
    font-weight: 500;
    font-family: "Jua", sans-serif;

}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #2D4E79;
}

.logo span{
    color: #557EB2;
    margin: 2px;
}

.Contact_us button{
    padding: 10px 15px;
    background-color: #2D4E79;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.Contact_us button:hover{
    transition: all 0.3s ease;
    background-color: #fff;
    color: #2D4E79;
    transform: scale(1.05);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 95%;
    margin-bottom: 10px;
    height: auto;
    margin: 10px;
}
